body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #39a854;
}

.game {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #d61515;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 20px auto;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  background: #179aa3;
  border: 2px solid #3baf05;
  cursor: pointer;
}

.square:hover {
  background: #e0e0e0;
}

.status {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #333;
}

.reset-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.reset-button:hover {
  background-color: #0056b3;
}